Requirements


-	Debe ser capaz de registrar pacientes
  •	Nombre del Paciente : Apeidos / Nombre
  •	Genero
  •	Fecha de Nacimiento
  •	Telefono
  •	Telefono adicional
  •	Correo Electronico
  •	Correo Electronico Adicional
  •	ID Paciente

-	Debe ser capaz de registrar doctores
  •	Nombre del doctor : Apeido / Nombre
  •	Correo Electronico
  •	Numero de Telefono

-	Debe ser capaz de registrar personal y roles
  •	Nombre del personal : Apeido / Nombre
  •	Rol del personal
  •	Telefono
  •	Direccion
  •	Correo electrónico

-	Debe tener un sistema de ingreso por roles
  •	Los roles definen nivel de acceso : Administrador, Capturista

-	Debe diferenciar entre matriz y sub oficinas
-	Debe ser capaz de comunicarse con el equipo de laboratorio
-	Debe ser capaz de relacionar los examanes diarios con la base de datos del paciente
-	Debe tener un moduilo de costo de exámenes y precios de venta
-	Debe tener un modulo de reporte de ingresos por oficina 
-	Debe ser capaz de tomar la información del paciente y guardarla en una base de datos
-	Debe ser capaz de guardar resultados, clientes, doctores, staff en la base de datos
-	Debe tener un modo de reporte de análisis clínicos en formato PDF
-	Debe ser capaz de enviar los resultados a los pacientes y doctor

var test = [ pacienteId, sesionID, GLU, 105, "ml/gr", date ]
 

{pacienteId: pacienteid { folio : sessionid } 