<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Laboratorio Blancarte</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
      <h1>Laboratorio Blancarte</h1>
      <h3>Reg S.S.A. 6459 LIC. SANITARIA No. AFM-00023-2002</h3>
      <h3>REG. D.G.P. 299190 REG. EDO. 402</h3>
</body>