    <%- include("header") -%>

    <form action="/" method="post">
      <div class="top">
        <label for="nombrePaciente">Nombre del Paciente</label>
        <input type="text" id="nombrePaciente" name="nombrePaciente" /> <br />
        <br />
        <label for="nombreDoctor">Nombre del Paciente</label>
        <input type="text" name="nombreDoctor" /> <br />
        <label for="nombreDoctor">Nombre del Paciente</label>
        <input type="text" name="nombreDoctor" /> <br />
        <br />
        <button type="submit">Submit</button>
      </div>
    </form>
    <%- include("footer") -%>